<!doctype html>
<html>

<head>
	<title>Teams</title>
 		<link rel="stylesheet" href="style.css">
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
	<h1>Teams</h1>
		<table >
			<tr>
				<thead>
					<th>ID</th>
					<th>Teamname</th>
			</tr>
				</thead>
<tbody>
	<tr th:each = "team : ${teams}">
	<td th:text = "${team.id}">team_id</td>
	<td th:text = "${team.team}">team_name</td>
			</tr>
</tbody>
		</table>
</body>
</html>